<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.app_matnas">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity_contactUs"
            android:label="@string/text_contactus" />
        <activity
            android:name=".activity_about"
            android:label="@string/text_about" />
        <activity android:name=".activity_events" />
        <activity
            android:name=".activity_gallery"
            android:label="@string/text_gallery" />
        <activity android:name=".FullImageGallery" />
        <activity
            android:name=".activity_hobbies"
            android:label="@string/text_hobbies" />
        <activity
            android:name=".activity_login_manager"
            android:label="@string/text_manager" />
        <activity android:name=".activity_messages"></activity>
    </application>

</manifest>