<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.app_matnas">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="@string/google_maps_key" /> -->

        <activity
            android:name=".activity_contactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_business"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_gallery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_activities"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_login_manager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_news"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManagerScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Grid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendNews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_team"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTeam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditTeam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddWorkShop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditWorkShop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_workShop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBusiness"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditBusiness"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCategory"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Esek"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuAyGu9a_ZFoucS8aGCDT2n5LoXQ5iaag" />

    </application>

</manifest>